.pageRoot {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: calc(100vh - 150px);
}


.statistics {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 600px;
  width: 900px;
}

.statisticsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 16px;
  background-color: #1f2a62;
}

.statisticsContent {
  overflow: auto;
  height: calc(100% - 96px);
  padding: 20px 25px;

  :global(.MuiChartsLegend-label) {
    fill: white;
  }
}
